

.banner img {
    width:100%;
}
.intro-text { 
    width:100%; 
    position: absolute; 
    top:33%; 
    text-align: center; 
    color:rgb(249, 244, 244);
}
.intro-text-box { 
    width: 62%;
    margin: auto;
    background-color: rgba(38, 93, 203, 0.252);
    padding: 30px;
    border: 10px solid #9e9ebf;
}
.intro-text-box h1 {
    font-size:3em;
    color: #000;
}


/* footer style */

footer {
    background-color: #000;
    color:#fff; 
    padding:20px;
    text-align: center;
}



@media (max-width: 767px) {
.intro-text {display: none;}
}
