.card{
    margin: auto;
    border: none;
    width: 500px;
    padding: 30px;
    color: aliceblue;
    position: absolute;
    top: auto;
    left: 30%;
    background: rgb(16, 104, 181);
    
}
.h{
    text-align: center;
    
}
.form-group{
    padding: auto;
    margin: 20px;
    width: 150px;
}
.form-control{
    margin-top: 10px;
    margin-left: 40px;
    padding: auto;
    width: 400px;
}
.btn{
    margin-top: 10px;
    color: rgb(245, 250, 245);
    background-color: rgb(128, 0, 0);
    text-align: center;
    margin-left: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
}