<body class="card">
  <form>
    <div class="h">
      <h1><b>REGISTER AS NEW PLAYER</b></h1>
    </div>
    <div class="form-group">
      <label for="playername">player Name :</label>
      <input type="text" class="form-control" id="playername" />
    </div>
    <div class="form-group">
      <label for="emai" l>Email ID :</label>
      <input type="email" class="form-control" id="email" />
    </div>
    <div class="form-group">
      <label for="number">Mobile Number :</label>
      <input type="number" class="form-control" id="number" />
    </div>
    <div class="form-group">
      <label for="sport">Sport :</label>
      <input type="text" class="form-control" id="sport" />
    </div>
    <div class="form-group">
      <label for="equipment">Equipment :</label>
      <input type="text" class="form-control" id="equipment" />
    </div>
    <div class="form-group">
      <label for="date">Registration date :</label>
      <input type="date" class="form-control" id="date" />
    </div>
    <div class="form-group">
      <label for="username">User Name :</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
      <label for="Password">Password :</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="form-group">
      <label for="CPassword">Confirm Password :</label>
      <input type="password" class="form-control" id="Cpassword" />
    </div>
    <button type="submit" class="btn">SIGN UP</button>
  </form>
  <a style="color: rgb(255, 255, 255); margin-top: 30px" routerLink="/login">
    alredy have account ? click to login</a
  >
</body>
<img class="img" src="./assets/images/singup.jpg" />
