<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!-- <title> Responsive Contact Us Form  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="/app4.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">104,New palasia</div>
            <div class="text-two">Indore, MP</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">mo.:-98765-43210</div>
            <div class="text-two">Phone:-07355-625833</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">sportsacademy@gmail.com</div>
            <div class="text-two">contact@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text"><h3>Contact Us</h3></div>
          <p>Contact us, our team back to you soon...</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <input type="email" placeholder="Enter your email" />
            </div>
            <div class="input-box message-box">
              <div>
                <textarea
                  id="subject"
                  name="subject"
                  placeholder="Enter your Question here.."
                  style="height: 100px"
                ></textarea>
              </div>
            </div>
            <div class="button">
              <button class="button">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
