<body class="card">
  <div class="h">
    <h1><b>LOGIN</b></h1>
  </div>
  <form>
    <div class="form-group">
      <label for="username">User Name :</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
      <label for="Password">Password :</label>
      <input type="password" class="form-control" id="password" />
    </div>

    <button type="submit" class="btn">login</button>
  </form>
  <a style="color: rgb(237, 228, 228); margin-top: 10px" routerLink="/signup">
    new player ? click here for registretion</a
  >
</body>
<img class="img" src="./assets/images/image2.avif" />
