<body>
  <div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>About Us</h1>
        </div>
        <div class="content">
          <h3>Alpha-Sports-Club</h3>
          <p>
            Alpha-Sports-Club is characterized by having professional and
            amateur departments in various sports such as bike polo, football,
            basketball, futsal, cricket, volleyball, handball, rink hockey,
            bowling, water polo, rugby, track and field athletics, boxing,
            baseball, cycling, tennis, rowing, gymnastics, and others, including
            less traditional sports such as airsoft, billiards, e-sports,
            orienteering, paintball, or roller derby.
          </p>
          <div class="button"></div>
        </div>
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
<img class="img" src="./assets/images/about.jpg" />
